@inherits LayoutComponentBase

<PageTitle>BlazorDiffApp1</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            
        </div>
        <StateComponent>
            <article class="content px-4">
                @Body
            </article>
        </StateComponent>
    </main>
</div>
